AddType application/x-httpd-php .htm .html
Options -Indexes

RewriteEngine on

# Convert folder-like expression to enterprise parameter
#RewriteRule "^andover$" "/?e=andover"
#RewriteRule "^demo$" "/?e=demo"
RewriteRule "^(\w+)$" "/?e=$1"

# Deny access to specific file types
RewriteRule "^(.+)\.(txt|csv|cdr|json|svg|py|sqlite)$" "-" [F]
