/*  Copyright 2017 Panel Spy.  All rights reserved. */

/******************************** /
.text-add
{
  font-style: italic;
  color: #428bca;
}

.text-update
{
  color: #428bca;
}
/********************************/
